@import url ('https://fonts.googleapis.com/css2? família=Open+Sans:ital,wght@0.300;0.400;0.700;1.600&display=swap');

    :root {

    --bg-gray: rgb(235, 224, 224);
    --text-gray: #4a4a4a;
    --color-primary: #4d41c0;
    --white: #ffff
    }

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

h1, h2, h3, h4, h5, h6 { 
    margin: 0;
}

html, body {background-color:var(--bg-gray) ;
}




header {
    
    background-color: var(--color-primary);
    color:var(--white);
    height: 60px;
    display: flex;
    align-items: center;


}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav h1 {
    font-size: 24px;
    font-weight: 700;
    color: var(--white);
}

nav a {
    font-size: 12px;
    font-weight: 400;
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

.dsmovie2-contact-container {
    display: flex;
    align-items: center;

}

.dsmovie2-contact-container{
    margin-right: 10px;
    }
    
#dsmovie2-card-list {
    padding: 40px 0; 
    }

.dsmovie2-card {
    width: 100%;
    
    }

.dsmovie2-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.dsmovie2-card-description {
    background-color: var(--white);
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 8px 8px;
    min-height: 150px;

}

.dsmovie2-card-description h3 {
    font-size: 14px;
    margin-bottom: 25px;
    font-weight: 700;
    text-align: center;

}
 
.dsmovie2-btn, .dsmovie2-btn:hover {
    width: 180px;
    height: 40px;
    background-color: var(--color-primary);
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

}

