@import url ('https://fonts.googleapis.com/css2? família=Open+Sans:ital,wght@0.300;0.400;0.700;1.600&display=swap');

* {font-family: 'Open Sans', sans-serif;

}

html, body {background-color: #e8e8e8;}


header {
    box-sizing: border-box;

    background-color: #4d41c0;
    color: #ffffff
    ;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
a, a:hover {
    text text-decoration: none;
    color: unset;
}